openapi: 3.0.0

info:
  title: primality-test-swagger-example
  version: 0.0.1

servers:
  - url: https://hello-world-rest-jjungeun.endpoint.ainize.ai

paths:
  /:
    get:
      parameters:
        - name: name
          in: query
          required: true
          type: string
          allowReserved: true
        - name: age
          in: query
          required: true
          type: number
          allowReserved: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                properties:
                  result:
                    type: string
        '400':
          description: Bad Request Error
        default:
          description: Unexpected Error
      description: GET Request to '/'
  /foo:
    get:
      parameters:
        - name: whatever
          in: query
          required: true
          type: string
          allowReserved: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                properties:
                  result:
                    type: string
        '400':
          description: Bad Request Error
        default:
          description: Unexpected Error
      description: GET Request to '/foo'
  /dog:
    post:
      parameters:
        - name: whatever
          in: query
          required: true
          type: string
          allowReserved: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                properties:
                  result:
                    type: string
        '400':
          description: Bad Request Error
        default:
          description: Unexpected Error
      description: POST request to '/dog'